

#board_container {
   width: 100%;
   display: flex;
   justify-content: center;
}

#board_main {
   padding: 10px;
   padding-top: 15px;
   box-shadow: -4px 2px 10px 2px rgba(0, 0, 0, .5);
   border-radius: 5px;
   display: flex;
   flex-direction: column;
   padding-bottom: 30px;
   background: var(--starlight-grayblue);
   margin-bottom: 15px;
}

table {
   padding: 10px;
   box-shadow: -1px 2px 8px 0px rgba(0, 0, 0, .5);
   border-radius: 5px;
   background-color: var(--starlight-gray)
}

#generating_message {
   min-width: 300px;
   min-height: 300px;
   color: white;
   font-size: 16px;
}

#table_body {
   display: flex;
   flex-direction: row;
   /* width: 600px; */
   height: 100%;
   justify-content: center;
}

.table_row {
   display: flex;
   flex-direction: column;
}

#info_box {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   margin-bottom: 10px;
   /* padding-top: 20px;
   padding-bottom: 0px; */
   font-size: 16px;
}

#age_info_box {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

#age_info_container {
   color: white;
}

#age_info_details {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   height: 25px;
   list-style: none;
   margin: 0px;
   padding: 0px;
}

#age_info_details p {
   line-height: 14px;
   font-size: 20px;
}

.age_info_listing {
   width: 8px;
   height: 8px;
   border: 1px solid var(--starlight-grayblue);
   padding: 1px;
   margin: 3px;
   margin-bottom: 0px;
}

#age_info_juvenile {
   background-color: var(--starlight-green)
}

#age_info_adolescent {
   background-color: var(--starlight-teal)
}

#age_info_adult {
   background-color: var(--starlight-blue)
}

#info_box h5 {
   margin: 0px;
}

#info_box h6 {
   margin: 0px;
}

#info_box p {
   margin: 0px;
}

#generation_container {
   display: flex;
   flex-direction: column;
   height: 25px;
   color: white;
}

#generation_container h6 {
   font-size: 14px;
}
