#controls_container {
   display: flex;
   flex-direction: column;
   background-color: var(--starlight-grayblue);
   color: white;
   box-shadow: -4px 2px 10px rgba(0, 0, 0, .5);
   border-radius: 5px;
   padding: 10px;
   font-size: 16px;
   margin-bottom: 15px;
}

#controls_container h5 {
   color: white;
}

#controls_container label {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   /* width: 80%; */
}

.input_field {
   width: 50px;
   background-color: var(--starlight-blue)
}

input {
   padding-left: 3px;
}

input::placeholder {
   padding-left: 3px;
   color: rgba(0, 0, 0, .4)
}


#buttons_container {
   display: flex;
   justify-content: space-between;
   padding: 10px;
   margin-top: 15px;
}

.controls_button {
   width: 80px;
   border-radius: 5px;
   color: white;
   background-color: var(--starlight-grayblue)
}

.controls_button:hover {
   cursor: pointer;
}

@media screen and (max-width: 900px) {
   #controls_container {
      flex-direction: column-reverse;
   }
   #buttons_container {
      margin-top: 0px;
      margin-bottom: 5px;
   }
}